@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url(../image/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
}

h1 {
    font-family: VT323;
    font-size: 65px;
    color: rgb(234,50,35);
    text-shadow: white;

}

.container {
    width: 400px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 20px ridge rgb(130,190,162);
}

.item {
    background: rgb(169,206,193);
    display: flex;
    justify-content: center;
    border-style: dotted dotted;
    font-family: VT323;
    font-size: 45px;
}

.item1 {
    background: rgb(169,206,193);
    display: flex;
    justify-content: center;
    border-style: dotted dotted;
    font-family: VT323;
    font-size: 45px;
    color: rgb(186,74,83);
}

.item2 {
    background: rgb(169,206,193);
    display: flex;
    justify-content: center;
    border-style: dotted dotted;
    font-family: VT323;
    font-size: 45px;
    color: rgb(73,157,109);
}

.item3 {
    background: rgb(169,206,193);
    display: flex;
    justify-content: center;
    border-style: dotted dotted;
    font-family: VT323;
    font-size: 45px;
    color: rgb(98,135,180);
}

.block {
    background:rgb(130,190,162);
    border: 5px outset cadetblue;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
}

.block:hover {
    background:rgb(130,190,162);
    border: 5px inset cadetblue;
    box-sizing: border-box;
}

img {
    width: 50px;
    height: 50px;
}

div[class^="item"]{
    box-sizing: border-box;
    border: 1px dashed cadetblue;
    width: 50px;
    height: 50px;
}
